.hero-section {
  transition: 10s all linear;
  height: calc(100vh - 120px);
}

.leaf-text {
  position: fixed;
}

.small-leaf {
  z-index: 1;
  transition: 1s all ease-out;
}

.hidden-section {
  height: 100vh;
}
